// Profile details
manifest {
    author = "Anh Phuong Le (Phuong)"
    name = "Pipeline for identifying Streptococcus pneumoniae from metagenomes"
    description = "contact Phuong at al35@sanger.ac.uk"
    version = "1.0.0"
}

params {
    ref_file = ""
    ref_name = ""
    index_dir = ""
    fq_dir = ""
    samples = ""
    output_dir = ""
}

