// Profile details
params {
    config_profile_description = 'Pipeline for identifying Streptococcus pneumoniae from metagenomes'
    config_profile_contact = 'Anh Phuong Le'

    ref_file = ""
    ref_name = ""
    index_dir = ""
    input_dir = ""
    samples = ""
    output_dir = ""

}

process {
    withName:indexReference {
        cpus = 8
        memory = '1000 MB'
        queue = 'normal'
    }
    withName:alnReads {
        cpus = 12
        memory = '1000 MB'
        queue = 'normal'
    }
}
